@charset "UTF-8";
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  padding-top: 15px;
  height: 55px;
  width: 100%;
  background: white;
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-links__link_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7.5%;
}

.header-links__link_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-links__img {
  height: 40px;
  padding-right: 12.5px;
}

.header-links__logotip {
  color: #1F2041;
}

.header-links__text {
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
  padding-right: 30px;
}

.header-links__text:hover {
  font-weight: bolder;
  color: black;
}

.header-links__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  font-weight: bolder;
  margin-right: 30px;
  width: 80px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 35px;
  color: #BC9CFF;
  background: white;
  background-clip: padding-box;
  /* !importanté */
  border: solid 3px transparent;
  /* !importanté */
  border-radius: 22px;
  cursor: pointer;
}

.header-links__login:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.header-links__login:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: white;
}

.header-links__reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 22px;
  font-size: 12px;
  font-weight: bolder;
  width: 100px;
  height: 35px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: white;
  cursor: pointer;
}

.header-links__reg:hover {
  color: #BC9CFF;
  background: white;
  background-clip: padding-box;
  /* !importanté */
  border: solid 3px transparent;
  /* !importanté */
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-links__reg:hover:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.body {
  background: blanchedalmond;
  height: 150vh;
}
/*# sourceMappingURL=style.css.map */